* {
	box-sizing: border-box;

	font-family: Raleway, sans-serif;
}

body {
	background-color: cornflowerblue;
}

.complete__form {
	text-align: center;

	border: 2px solid black;



	margin-left: 420px;
	margin-right: 420px;
	margin-top: 80px;
	padding: 15px;
	border-radius: 1px;



}

#heading {
	font-size: large;
}

.input_value {
	width: 200px;
	height: 30px;
}